html {
    height: 100vh;
    background-image: radial-gradient(#f2f2f2, #b3b3b3);
    color: #333;
}

.board-result, .board {
    background-color: #f2f2f2;
}

.header {
    height: 250px;
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
    font-family: Bungee, Arial;
    font-size: 22px;
    margin: 0;
    height: 100vh;
}

.title {
    font-size: 55px;
    margin: 70px 0 0 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
    border-left: 5px solid #333;
    border-radius: 20px 20px 0 0;
}

.board-left, .board-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    width: 200px;
    height: 300px;
}

.board-middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    width: 100px;
    height: 300px;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.p-score, .c-score {
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 100px;
    margin-top: 22px;
}

.p-pick, .c-pick {
    margin-top: 50px;
    font-size: 36px;
}

.score-divider {
    position: absolute;
}

.midline {
    position: relative;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 5px;
    background-color: #333;
}

.board-result {
    height: 80px;
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    line-height: 80px;
    border-right: 5px solid #333;
    border-bottom: 5px solid #333;
    border-left: 5px solid #333;
    border-radius: 0 0 20px 20px;
}

.choices {
    margin: 50px 0;
}

.choice {
    height: 60px;
    padding: 12px 30px 0 30px;
    transition: all .1s ease-in-out;
}

.choice:hover {
    transform: scale(1.1);
}

.caption {
    margin-top: -30px;
}

.reset-button {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 5px solid #333;
    padding: 12px 12px;
    font-family: inherit;
    font-size: 24px;
    color: inherit;
}

.reset-button:hover {
    background-color: #333;
    color: #f2f2f2;
}